:root {
    --main-light-color: #EEEEEE;
    --main-dark-color: #686d76;
    --main-dark-contrast: #373A40;
    --main-color-contrast: #DC5F00;
}

* {
    margin: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--main-light-color);
    color: var(--main-dark-contrast);
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: double 10px var(--main-dark-contrast);
}

.light-dark-mode-button:hover {
    box-shadow: 5px 5px 10px var(--main-color-contrast);
}

.main-blogs {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
}

.blog-card {
    border: solid 1px;
}

.blog-title {
    border-bottom: solid 2px;
}

.blog-author {
    justify-self: end;
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: double 10px var(--main-dark-contrast);
}