:root {
    --main-light-color: #EEEEEE;
    --main-dark-color: #686d76;
    --main-dark-contrast: #373A40;
    --main-color-contrast: #DC5F00;
}

* {
    margin: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

body[data-bg="light"] {
    background: var(--main-light-color);
    color: var(--main-dark-contrast);
}

body[data-bg="dark"] {
    background: var(--main-dark-color);
    color: var(--main-light-color);
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: double 10px var(--main-dark-contrast);
}

.light-dark-mode-button:hover {
    box-shadow: 5px 5px 10px var(--main-color-contrast);
}

.main {
    display: flex;
    height: 1000px;
}

.main-blogs {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
}


.blog-card {
    border: solid 1px;
}

.blog-title {
    border-bottom: solid 2px;
}

.blog-author {
    justify-self: end;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.hero img {
    padding: 0;
    border: solid var(--main-dark-contrast);
    height: 80%;
}

.blog-form {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: end;
    width: 50%;
    height: 75%;
    border-left: solid 5px var(--main-dark-contrast);
}

.blog-form h2 {
    align-self: center;
}

.content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
}

#content {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: double 10px var(--main-dark-contrast);
}